@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Oranienbaum&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fffaee;
}

#title{
    display: flex;
}

.img{
    width: 40px;
    height: 40px;
    display: flex;
    margin-left: 33%;
    margin-top: 50px;
    padding-right: 10px;
}

#img2{
    margin-left: 0;
    padding-left: 10px;
}

h1{
    font-family: "Oranienbaum", serif;
    font-weight: 800;
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
    color: #dab263;
}

#totPoint{
    text-align: center;
    font-size: 50px;
    font-family: "Oranienbaum", serif;
    padding-top: 15px;
}

#current{
    text-align: center;
    font-size: 35px;
    margin: -30px 0;
    padding-bottom: 50px;
    font-family: "Faustina", serif;
    font-weight: 500;
}

h3{
    font-family: "Oranienbaum", serif;
    font-weight: 800;
    font-size: 30px;
    margin-left: 15%;
    color: #8a9a8d;
}

th{
    font-family: "Oranienbaum", serif;
    font-weight: 700;
    font-size: 15px;
}

h4{
    font-family: "Faustina", serif;
    font-size: 20px;
    font-weight: 800;
}

p, td{
    font-family: "Oranienbaum", serif;
}

.point{
    border: 5px solid #f6b09c;
    background-color: #f4c7ba;
    margin: auto;
    margin-left: 15%; 
    width: 69.5%; 
    border-radius: 20px;
}

.point h2{
    color: #d38069;
    font-weight: 900;
    -webkit-text-stroke-width: 0.5px;
    /* -webkit-text-stroke-color: #fa724c; */
}

#current{
    color: #fcf3f1;
    -webkit-text-stroke-width: 0;
}

#wrap{
    padding-top: 20px;
    margin-left: 15%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 70%;
}

.quick, .custPoint{
    flex: 1;
    min-width: 0;
    width: 30%;
    height: 200px;
    padding: 10px;
    margin-top: auto;
    background-color: #fddaa1;
    border: 5px solid #f6c26f;
    border-radius: 20px;
}

.txtCust{
    background-color: #f5e3bf;
    border: 1px solid #c5922e;
    color: #6c5223;
}

.txtCust::placeholder{
    color: #cfa24a;
    font-style: italic;
    opacity: 0.5;
}

.quick h3, .custPoint h3{
    margin-left: 0;
    color: #bc790d;
    font-family: "Oranienbaum", serif;
}

#details, #history{
    display: flex;
    /* width: 75%; */
    margin-left: 15%; 
    /* background-color: blueviolet; */
}

#history{
    max-height: 350px;
}

#details h4, #history h4, #details p, #history p{
    text-align: center;
}

#details h4, #history h4{
    text-decoration: underline;
    padding-right: 10px;
    padding-bottom: 5px;
}

#earnP, #rewardP, #earnHis, #usedHis{
    min-width: 0;
    min-height: 200px;
    padding-bottom: 15px;
    border: 5px solid #b7bdb8;
    background-color: #d1dbd4;
    border-radius: 10px;
    width: 535px;
}

#earnP, #earnHis{
    margin-right: 7%;
}


#earnHis, #usedHis, #earnP, #rewardP{
   overflow-y: hidden;
}

#earnHis:hover, #usedHis:hover, #earnP:hover, #rewardP:hover{
    overflow-y: auto;
}

#earnP h4, #rewardP h4, #earnHis h4, #usedHis h4{
    color: #4a604e;
}

#earnP th, #rewardP th, #earnHis th, #usedHis th{
     color: #446b4b;
}

#earnP td, #rewardP td, #earnHis td, #usedHis td{
    color: #525753;
}

#quickBtn{
    margin-left: 10%;
    width: 100%;
    max-height: 85%;
    display: flex;
    justify-content: space-between;
    overflow:auto;
}

#quickBtn:hover{
    overflow-y: hidden;
}

#btnsTop, #btnsBottom{
    flex: 1;
}

.btns{
    width: 10vw;
    height: 8vh;
    margin: 5px;
    background-color: #f5e3bf;
    border-radius: 15px;
    border: 2px solid #c5922e;
    box-shadow: 5px 5px 0 0 #af8e4b;
}

.btns h4, .btns p, .custPoint p{
    color:  #6c5223;
}

.btns:hover{
    background-color: #e6d3ae;
    box-shadow: 5px 5px 0 0 #7e6635;
}

.txtCust{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-family: "Faustina", serif;
    font-weight: 500;
}

#desc{
    margin-top: 10px;
}

#custBtnsCon{
    margin-left: 15%;
    margin-top: 10px;
}

.custBtns{
    width: 40%;
    height: 30px;
    background-color: #f6b650;
    color: #ffffff;
    border: 2px hidden;
    border-radius: 7px;
    font-family: "Faustina", serif;
    font-size: 15px;
    font-weight: 800;
}

.custBtns:hover{
    background-color: #f0990c;
}

table{
    margin: auto;
    /* background-color: bisque; */
    width: 400px;
}

th{
    table-layout: fixed;
    font-size: 17px;
    width: 50%;
    /* background-color: aliceblue; */
    padding: 3px;
}

td{
    padding: 5px 0;
    text-align: center;
    font-size: 15px;
}

footer{
    padding-top: 30px;
    text-align: center;
    color: #dab263;
}

@media (max-width: 430px) {
    body{
        width: 230px;
    }

    #title{
        margin-left: 20%;
        width: 300px;
    }

   h1{
    font-size: 30px;
    width: 250px;
   }

   .img{
        display: flex;
        margin-left: 0;
        margin-top: 70px;
        padding-right: 0;
    }

    #img2{
        padding-left: 0;
    }

    #totPoint{
        font-size: 40px;
    }

    #current{
        font-size: 30px;
    }

    .point{
        margin-left: 15%;
        width: 300px;
    }

    #wrap{
        width: 320px;
        margin-left: 15%;
        height: auto;
        display: block;
    }

    .quick,.custPoint{
        width: 285px;
    }

    .quick{
        margin-bottom: 20px;
    }

    #quickBtn{
        margin-left: 10%;
    }

    .btns{
        width: 110px;
        margin-left: 0;
    }
    
    #details, #history{
        display: block;
        margin-left: 15%;
    }

    #earnP, #rewardP, #earnHis, #usedHis{
        width: 310px;
        height: 280px;
    }

    #earnHis, #usedHis{
        max-height: 280px;
    }

    #earnP, #earnHis{
        margin-bottom: 20px;
    }

    #usedHis{
        margin-bottom: 50px;
    }

    h3{
        margin: 0;
        text-align: center;
    }

    #subH3{
        width: 250px;
        margin-left: 30%;
    }

    table{
        width: 280px;
    }

    th{
        font-size: 15px;
    }

    td{
        font-size: 13px;
    }

    footer {
        position: absolute;
        margin-top: 70%;
        width: 200px;
        margin-left: 25%;
    }
}
